@use '../../lib/service.scss' as s;

  .main {
    width: 1200;
    padding: 20px;


  }

  .form {
    display: flex;
    flex-direction: column;
    padding: s.space(8);
    gap: s.space(8);

    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);

    &__title {
        font-size: 30px;
        font-weight: bold;   
        padding: s.space(8);
        padding-left: 16px;
        border-bottom: s.color('light');
        color: blue;
    }

    &__info {
        font-size: 20px;
        font-weight: bold;
        padding-bottom: s.space(1);
        border-bottom: s.color('light');
        color: black;
    }

   

    &__row {
        display: grid;
        grid-template-rows: 1fr;
        grid-auto-flow: column;
        gap: s.space(4);
        
    }

    &__label {
        font-size: 14px;
        padding-top: 8px;
    }

    &__field {
        display: flex;
         flex-direction: column;
         gap: s.space(2);
     }

     &__input {
        border: 1px solid s.color('light');
        padding: s.space(2);
    }

     &__action {
        display: grid;
        grid-template-rows: 1fr;
        grid-auto-flow: column;
        gap: s.space(4);
     }

     &__button__save {

        border: 1px solid s.color('light');
        padding: s.space(2);
        border-radius: s.space(2);
        background: blue;
        color: white;
    }

    &__button__secondary {
        color: white;
    }

    &__button__delete {

        border: 1px solid s.color('light');
        padding: s.space(2);
        border-radius: s.space(2);
        background: red;
        color: white;
    }

    &__button__warning {
        color: white;
    }

    &__message {
        font-size: small;
        padding-bottom: 6px;
    }
  }

  main {
    display: flex;
    flex-direction: column;

  }