<div class='page'>

  <div class='form'>
    <div class='form__content'>
     <h1 class='{{#if isError}} form__title--error {{else}}form__title{{/if}}'>{{title}}</h1>
        <p class='form__text'>{{info}}</p>
    </div>

    <a href='product-list' class='form__button'>Повернутись
      назад</a>
  </div>

</div>