<main class='main'>
  <section>
    <div class='form'>
      <h1 class='form__title'>Список товарів</h1>
      <div class="form__row">
         {{> product-card}}
         </div>
    </div>
  </section>
</main>